<html>
<body>
<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js" charset="utf-8"></script>
<script>
    FB.init({appId: '224380740948777', status: true, cookie: true, xfbml: true});
</script>
<h1>Lifeline Contest Challenge</h1>
<div id="quote">
              <span id="facebook_stuff">
              <div id="profile_pic"><fb:profile-pic uid="1263517966"></fb:profile-pic></div>
              <div id="profile_name"><fb:name uid="1263517966" useyou="false"></fb:name>
              </span>
              "Helping Friends on Facebook reach their ultimate potential and be your Lifeline!"
</div>
</body>
</html>

